/* Overall Site Layout*/
/* .grid-container {
    display: grid;
} */


/* Body Styles */
body {
    font-family:'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

p {
    font-size: 16px;
    padding: 5px;
    line-height: 28px;
}

h1 {
    font-size: 40px;
    padding: 20px;
    letter-spacing: 2px;
}

h1 + p {
    letter-spacing: 4px;
}

h2 {
    font-size: 24px;
    padding: 20px;
}

h3 {
    font-size: 20px;
    padding: 10px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
}


/* Navigation */

.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
}

/* Style main image */

header img {
    width: 100%;
    max-height: 375px;
}


/* add container width to about me*/
.about-me {
    max-width: 800px;
    margin: auto;
/*    border: solid;*/
}

/* Style about me so that photo is on left*/
.about-me-section {
    display: flex;
}

.about-me-photo {
    margin: auto;
    padding: 0px 25px;
/*    border: solid;*/
}

.about-me-text {
    margin: auto;
    padding: 0px 25px;
/*    border: solid;*/

}

/*css grid my-work images*/
.portfolio-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.portfolio-cards img{
    padding: 25px 35px 35px 35px;
    flex: auto;
    max-width: 650px;
}

.portfolio-cards img.resize{
    max-width: 300px;
}


.portfolio-card-1 img.resize {
    max-width: 600px;
}

/*overlay text on image*/


/* images move when hovered over */
.portfolio-cards > article:hover {
    border: 1px solid black;
    cursor: pointer;
}




/* remove bullets from unordered list under contacts */
.contact-info ul {
    list-style-type: none;
    margin-bottom: 30px;
    line-height: 24px;
  }

  /* Footer */

footer{
    background-color: #333;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}